header {
  width: 100%;
  background: #09221f;
}
header > div {
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header i {
  color: #ffffff;
  font-size: 1.25rem;
}
header #mobile-navbar {
  position: fixed;
  pointer-events: none;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  right: 0;
  bottom: -100%;
  transition: bottom 0.3s;
  padding: 1.5rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.0901960784);
}
header #mobile-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  background: rgba(36, 36, 36, 0.0941176471);
  backdrop-filter: blur(6px);
}
header #mobile-overlay.active {
  opacity: 100;
  pointer-events: all;
}
header #mobile-navbar.active {
  pointer-events: all;
  bottom: 0;
}
header #mobile-navbar .top {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
header #mobile-navbar .top h4 {
  font-family: "Abril Fatface", serif;
  font-size: 1.25rem;
}
header #mobile-navbar .top p {
  font-size: 0.875rem;
}
header #mobile-navbar .top .logo {
  width: 42px;
}
header #mobile-navbar i {
  color: #09221f;
  font-size: 1.35rem;
}
header .separator {
  margin-block: 1.75rem;
  opacity: 0.14;
}
header ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: fit-content;
  margin: 0 auto;
  gap: 1rem;
}
header ul i {
  background: #d9bf9e;
  padding: 0.6rem;
  border-radius: 100%;
  display: flex;
}
header li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #09221f;
  position: relative;
}
header li a::after {
  content: " ";
  width: 0px;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 10px;
  border-radius: 1.1rem;
  background-color: #d9bf9e;
  transition: all 0.3s;
}
header li a:hover::after {
  width: 150px;
}
header .buttons {
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;
  max-width: 100%;
}
header .buttons a:hover #i-i,
header .buttons a:hover #w-i {
  color: #ffffff;
}
header .close-navbar {
  max-width: 32px;
  margin-inline: auto;
  margin-block: 2rem 0;
  display: block;
  font-size: 2rem;
  border: 1px solid #09221f;
  border-radius: 100%;
  display: flex;
  padding: 0.25rem;
  transition: all 0.3s;
}
header .close-navbar:hover {
  border-color: transparent;
  background: #bd9b6d;
}

#hero {
  margin-top: 4.5rem;
  padding-inline: 2rem;
  position: relative;
}
#hero .buttons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.875rem;
}
#hero .tais img {
  margin-top: 3rem;
  width: 100%;
}
#hero .tg-decorator {
  position: absolute;
  opacity: 0.05;
  left: -40px;
  top: -30px;
  width: 70%;
}
#hero > div {
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #e9e9e9;
  color: #09221f;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

a,
button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  width: 2rem;
}

.btn {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #09221f;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn i {
  font-size: 1.15rem;
}

.outline-btn {
  border: 1px solid #09221f;
  position: relative;
}
.outline-btn::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: #09221f;
  transition: all 0.6s;
}
.outline-btn span {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.outline-btn span,
.outline-btn i {
  transition: all 0.8s;
}
.outline-btn:hover {
  color: #e9e9e9;
}
.outline-btn:hover::after {
  width: 100%;
}

.whatsapp-btn {
  background: #00c248;
}
.whatsapp-btn:hover {
  background-color: #00af40;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #09221f;
}

.title {
  text-align: center;
}
.title h1,
.title h2,
.title h3 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 100%;
}
.title h1 span,
.title h2 span,
.title h3 span {
  color: #bd9b6d;
}
.title p {
  margin-top: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
