body > header {
  width: 100%;
  background: #09221f;
}
body > header > div {
  display: flex;
  padding: 0.75rem 2rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1064px;
  width: 100%;
  margin: 0 auto;
}
body > header i {
  color: #ffffff;
  font-size: 1.25rem;
}
@media (width >= 748px) {
  body > header .mobile-menu {
    display: none;
  }
}
body > header #mobile-navbar {
  position: fixed;
  pointer-events: none;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  right: 0;
  bottom: -100%;
  transition: bottom 0.3s;
  padding: 1.5rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.0901960784);
}
@media (width >= 748px) {
  body > header #mobile-navbar {
    display: none;
  }
}
body > header #mobile-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  background: rgba(36, 36, 36, 0.0941176471);
  backdrop-filter: blur(6px);
}
@media (width >= 748px) {
  body > header #mobile-overlay {
    display: none;
  }
}
body > header #mobile-overlay.active {
  opacity: 100;
  pointer-events: all;
}
body > header #mobile-navbar.active {
  pointer-events: all;
  bottom: 0;
}
body > header #mobile-navbar .top {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
body > header #mobile-navbar .top h4 {
  font-family: "Abril Fatface", serif;
  font-size: 1.25rem;
}
body > header #mobile-navbar .top p {
  font-size: 0.875rem;
}
body > header #mobile-navbar .top .logo {
  width: 42px;
}
body > header #mobile-navbar i {
  color: #09221f;
  font-size: 1.35rem;
}
body > header .separator {
  margin-block: 1.75rem;
  opacity: 0.14;
}
body > header ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: fit-content;
  margin: 0 auto;
  gap: 1rem;
}
body > header ul i {
  background: #d9bf9e;
  padding: 0.6rem;
  border-radius: 100%;
  display: flex;
}
body > header li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #09221f;
  position: relative;
}
body > header li a::after {
  content: " ";
  width: 0px;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 10px;
  border-radius: 1.1rem;
  background-color: #d9bf9e;
  transition: all 0.3s;
}
body > header li a:hover::after {
  width: 150px;
}
body > header .buttons {
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;
  max-width: 100%;
}
body > header .buttons a:hover #i-i,
body > header .buttons a:hover #w-i {
  color: #ffffff;
}
body > header .close-navbar {
  max-width: 32px;
  margin-inline: auto;
  margin-block: 2rem 0;
  display: block;
  font-size: 2rem;
  border: 1px solid #09221f;
  border-radius: 100%;
  display: flex;
  padding: 0.25rem;
  transition: all 0.3s;
}
body > header .close-navbar:hover {
  border-color: transparent;
  background: #bd9b6d;
}

#hero {
  margin-top: 4.5rem;
  margin-inline: auto;
  padding-inline: 2rem;
  position: relative;
  max-width: 1064px;
  width: 100%;
}
#hero .buttons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.875rem;
}
#hero .tais img {
  margin-top: 3rem;
  width: 100%;
}
@media (width <= 1024px) {
  #hero .tais img {
    max-width: 520px;
    margin-inline: auto;
    display: block;
  }
}
@media (width >= 1024px) {
  #hero .tais img {
    grid-column: 2;
    margin-top: -1.3rem;
  }
}
#hero .tg-decorator {
  position: absolute;
  opacity: 0.03;
  left: -80px;
  top: 10px;
  width: 530px;
}
@media (width >= 1024px) {
  #hero .tg-decorator {
    width: 930px;
    left: -270px;
    top: 30px;
  }
}
#hero > div {
  position: relative;
  z-index: 1;
}
@media (width <= 1024px) {
  #hero .title {
    max-width: 360px;
    margin-inline: auto;
  }
  #hero .buttons {
    max-width: 432px;
    margin-inline: auto;
  }
}
@media (width >= 1024px) {
  #hero {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 4rem;
  }
  #hero .title {
    text-align: left;
  }
}

#hero .cards {
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}
#hero .cards .cards-decorator {
  position: absolute;
  top: 450px;
  opacity: 0.25;
}
@media (width >= 1024px) {
  #hero .cards .cards-decorator {
    top: 30px;
    right: 0;
    width: 50px;
    opacity: 0.4;
  }
}
#hero .cards .card:not(:nth-child(2)) {
  margin-top: 3.625rem;
}
#hero .cards .card:nth-child(3) {
  margin-left: auto;
}
#hero .cards .card:last-child {
  margin-inline: auto;
}
#hero .cards .card {
  border: 1px solid #09221f;
  border-radius: 0.5rem;
  background: #fbfbfb;
  padding: 1.125rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 330px;
  width: 270px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1215686275);
  transition: all 0.3s;
}
#hero .cards .card:hover {
  transform: scale(101%);
  rotate: 1deg;
}
#hero .cards .card header span {
  padding: 0.25rem 0.5rem;
  background: #09221f;
  color: #ffffff;
  max-width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 0.75rem;
  border-radius: 100rem;
}
#hero .cards .card header h4 {
  margin-top: 0.25rem;
  line-height: 150%;
}
#hero .cards .card.outline {
  background: none;
}
#hero .cards .card:last-child {
  position: relative;
}
#hero .cards .card:last-child span {
  color: #00c248;
}
#hero .cards .card:last-child:after {
  content: " ";
  border-radius: 0.375rem;
  position: absolute;
  right: -16px;
  bottom: 20px;
  height: 34px;
  width: 73px;
  background: #09221f;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2666666667);
}
@media (width <= 990px) {
  #hero .cards {
    max-width: 620px;
    margin-inline: auto;
  }
}
@media (width >= 1024px) {
  #hero .cards {
    width: 100%;
    grid-column: span 2;
    margin-top: 0;
  }
  #hero .cards .card:nth-child(3) {
    margin-left: 0;
  }
  #hero .cards .card:last-child {
    margin-inline: 0;
  }
}

#about {
  margin-top: 8.125rem;
  margin-inline: auto;
  padding: 0 2rem;
  max-width: 1064px;
  width: 100%;
  position: relative;
}
#about .title {
  text-align: left;
  max-width: 622px;
}

#about .topics-container {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.8125rem;
  position: relative;
}
#about .topics-container .topics-decorator {
  position: absolute;
  opacity: 0.3;
  bottom: -60px;
  right: 0;
}
#about .topics-container .topic {
  display: flex;
  flex-direction: column;
}
#about .topics-container .topic i {
  font-size: 1.5rem;
}
#about .topics-container .topic h3 {
  display: flex;
  font-size: 1rem;
  gap: 0.75rem;
  align-items: center;
}
#about .topics-container .topic p {
  margin-top: 0.5rem;
}
#about .topics-container .topic:last-of-type {
  margin-bottom: 2rem;
  position: relative;
}
#about .topics-container .topic:last-of-type::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 150px;
  background: #09221f;
  bottom: -1.75rem;
  left: 50%;
  transform: translateX(-50%);
}
#about .topics-container .topic:last-child h3 {
  color: #bd9b6d;
}
#about .topics-container .separator {
  opacity: 0.2;
  width: 45%;
}
#about .topics-container .separator:nth-of-type(2) {
  width: 35%;
}
@media (width >= 768px) {
  #about .topics-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  #about .topics-container .separator {
    width: 1px;
    height: 50px;
    display: none;
  }
  #about .topics-container .topic:nth-of-type(3) {
    border-left: 1px solid rgba(0, 0, 0, 0.0941176471);
    padding-left: 2rem;
  }
}
@media (width >= 1024px) {
  #about .topics-container {
    gap: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  #about .topics-container .topic p {
    font-size: 0.875rem;
  }
  #about .topics-container .topic:nth-of-type(3) {
    border-left: none;
    padding: 0;
  }
  #about .topics-container .separator {
    display: block;
  }
  #about .topics-container .separator:nth-of-type(2) {
    width: 1px;
    display: block;
  }
}

#tais-about {
  margin-top: 3rem;
}
#tais-about .tais-title h3 {
  font-size: 1.125rem;
}
#tais-about .tais-title h3 span {
  color: #bd9b6d;
}
#tais-about .tais-info {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 440px;
  max-width: 100%;
}
#tais-about .tais-info .img {
  flex-shrink: 0;
  flex-grow: 0;
  width: 176px;
  max-width: 100%;
  display: flex;
  border-radius: 100%;
  padding: 1rem;
  border: 1px solid #000;
}
#tais-about .tais-info .img img {
  width: 100%;
  object-fit: cover;
}
#tais-about .tais-info .text p:first-of-type {
  background: #d9bf9e;
  padding: 0.0625rem 1.375rem;
  border-radius: 99999px;
  width: fit-content;
  font-weight: bold;
  font-size: 0.875rem;
}
#tais-about .tais-info .text p:last-of-type {
  margin-top: 1rem;
}
#tais-about .tais-cards-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}
@media (width >= 800px) {
  #tais-about .tais-cards-container {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
  }
}
#tais-about .tais-cards-container .card {
  border: 1px solid #141414;
  border-radius: 0.5rem;
  background: #fbfbfb;
  padding: 1rem 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
#tais-about .tais-cards-container .card.outline {
  background: none;
}
#tais-about .tais-cards-container .card h4 {
  display: flex;
  justify-content: space-between;
}
#tais-about .tais-cards-container .card .icons {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #d5d5d5;
  gap: 0.25rem;
}
#tais-about .tais-cards-container .card .icons > div {
  display: flex;
  padding: 0.35em;
  background: #09221f;
  border-radius: 99999rem;
}
#tais-about .tais-cards-container .card .icons .phantom {
  background: none;
  margin-right: -0.5rem;
  font-size: 1.4rem;
  color: #09221f;
}
#tais-about .tais-cards-container .card .buttons {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.625rem;
  font-size: 0.875rem;
}

#tais-skills {
  margin-top: 3rem;
}
#tais-skills .img {
  padding: 1.25rem;
  background: #09221f;
  border-radius: 0.5rem;
  display: flex;
}
@media (width >= 1024px) {
  #tais-skills .img {
    grid-row: span 2;
  }
}
#tais-skills .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
#tais-skills .skills {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;
}
#tais-skills .skills p {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #09221f;
  color: #ffffff;
  border-radius: 0.5rem;
  height: 7rem;
}
@media (width >= 768px) {
  #tais-skills .skills p {
    height: auto;
  }
}
#tais-skills .skills p.outline {
  background: none;
  border: 1px solid #09221f;
  color: #09221f;
}
#tais-skills .skills p.k1 {
  grid-column: span 2;
}
@media (width >= 1024px) {
  #tais-skills .skills p.k1 {
    grid-column: 1;
  }
}
#tais-skills .skills p.k3 {
  grid-column: span 3;
}
@media (width >= 1024px) {
  #tais-skills .skills p.k3 {
    grid-column: 2;
    grid-row: 1;
  }
}
#tais-skills .skills p.k4 {
  grid-column: span 3;
}
@media (width >= 1024px) {
  #tais-skills .skills p.k4 {
    grid-column: span 2;
    grid-row: 2;
  }
}
@media (width >= 1024px) {
  #tais-skills .skills .k5 {
    grid-column: 1;
    grid-row: 3;
  }
}
#tais-skills .skills p.k6 {
  grid-column: span 2;
}
@media (width >= 1024px) {
  #tais-skills .skills p.k6 {
    grid-column: span 2;
    grid-row: 2;
  }
}
#tais-skills .skills p.k7 {
  grid-column: span 3;
}
#tais-skills .skills div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #09221f;
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 4rem;
}
@media (width >= 768px) {
  #tais-skills .skills div {
    font-size: 3rem;
  }
}
#tais-skills .skills .beige {
  background: #d9bf9e;
  border: 1px solid #bd9b6d;
  color: #09221f;
}
@media (width >= 768px) {
  #tais-skills .skills {
    margin-top: 0;
    grid-template-rows: 74px 74px 74px;
  }
}
@media (width >= 1024px) {
  #tais-skills .skills {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (width >= 768px) {
  #tais-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 3rem;
    row-gap: 1.25rem;
  }
}

#tais-skills > article {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
#tais-skills > article h4 {
  font-size: 2rem;
}
#tais-skills > article .obs {
  border-left: 4px solid #d9bf9e;
  padding-left: 1rem;
}
#tais-skills > article .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media (width >= 768px) {
  #tais-skills > article {
    grid-column: span 2;
    margin-top: 0;
  }
}
@media (width >= 1024px) {
  #tais-skills > article {
    grid-column: 2;
    grid-row: 2;
    margin-top: 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #e9e9e9;
  color: #09221f;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #c5c5c5;
}

::-webkit-scrollbar-thumb {
  background: #09221f;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #bd9b6d;
}

ul {
  list-style: none;
}

a,
button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  width: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #09221f;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn i {
  font-size: 1.15rem;
}

.btn-primary {
  background-color: #d9bf9e;
}
.btn-primary:hover {
  filter: brightness(90%);
}

.btn-dark {
  background-color: #09221f;
  color: #ffffff;
}
.btn-dark:hover {
  filter: brightness(90%);
}

.outline-btn {
  border: 1px solid #09221f;
  position: relative;
}
.outline-btn::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: #09221f;
  transition: all 0.45s;
}
.outline-btn span {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.outline-btn span,
.outline-btn i {
  transition: all 0.8s;
}
.outline-btn:hover {
  color: #e9e9e9;
}
.outline-btn:hover::after {
  width: 100%;
}

.whatsapp-btn {
  background: #00c248;
}
.whatsapp-btn:hover {
  background-color: #00af40;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #09221f;
}

.title {
  text-align: center;
}
.title h1,
.title h2,
.title h3 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 100%;
}
.title h1 span,
.title h2 span,
.title h3 span {
  color: #bd9b6d;
}
.title p {
  margin-top: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
