// =============================
// Paleta de cores
// =============================

$color-bg: #e9e9e9;
$color-white: #ffffff;
$color-white-secondary: #d5d5d5;

$color-black: #141414;

$color-green-dark: #09221f;
$color-green: #00c248;
$color-green-2: #00af40;

$color-beige: #bd9b6d;
$color-beige-light: #d9bf9e;

$color-bg-card: #fbfbfb;
$color-bg-card-2: #eeeeee;

$color-gray: #353535;

$text-md: 1rem;
$text-sm: 0.875rem;
$text-extra-sm: 0.75rem;
$text-lg: 1.125rem;
