// =============================
// Paleta de cores
// =============================

$color-bg: #E9E9E9;
$color-white: #FFFFFF;
$color-black: #141414;

$color-green-dark: #09221F;
$color-green: #00C248;

$color-beige: #BD9B6D;
$color-beige-light: #D9BF9E;

$color-bg-card: #FBFBFB;
$color-bg-card-2: #EEEEEE;

$color-gray: #353535;